*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'robotoregular', 'sans-serif';
}

.board {
  height: 500px;
  width: 500px;
  border: 1px solid #66666E;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.tile {
  border: 1px solid #66666E;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6d7da;
  gap: 20px;
}

.container {
  display: grid;
  grid-template: 1fr 9fr 0.5fr / 1fr;
  height: 100vh;
  padding: 10px;
  gap: 10px;
  background-color: #0D0A0B;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5F44A;
  color: #0D0A0B;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5F44A;
  color: #0D0A0B;
}

.rounded {
  border-radius: 10px;
}

.circle {
  background-image: url(icons/circle.svg);
  background-size: 110%;
  background-position: center;
}

.cross {
  background-image: url(icons/cross.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.placeholder {
  color: #D2D6EF;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons button {
  background-color: #B5F44A;
  border: none;
  padding: 10px 20px;
  width: 80px;
  border-radius: 20px; 
}

.buttons #reset {
  display: none;
}

.blue {
  color: #0008FF;
}

.red {
  color: #FF0000;
}