*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', 'sans-serif';
}

.board {
  height: 500px;
  width: 500px;
  border: 1px solid #66666E;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  /* position: relative; */
}

/* .board::after, .board::before {
  box-sizing: content-box;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(red, blue, green, yellow, red);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 30px;
}

.board::before {
  filter: blur(1.5rem);
  opacity: 0.5;
} */

.tile {
  border: 1px solid #66666E;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F6;
  gap: 20px;
}

.container {
  display: grid;
  grid-template: 1fr 9fr 0.5fr / 1fr;
  height: 100vh;
  padding: 10px;
  gap: 10px;
  background-color: rgb(68, 67, 67);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00BFB2;
  color: #F4F4F6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00BFB2;
  color: #F4F4F6;
}

.rounded {
  border-radius: 10px;
}

.circle {
  background-image: url(icons/circle.svg);
  background-size: 110%;
  background-position: center;
}

.cross {
  background-image: url(icons/cross.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}